:root {
  --page-background: #2c2c2c;
  --font-color: #ffffff;
  --cta-color: #8685ef;
  --default-lineHeight: 22px;
  --alternate-textColor: #202124;
}

html {
  font-size: 62.6%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  background-color: var(--page-background);
  color: var(--font-color);
  font-size: 1.4rem;
  font-family: 'IBM Plex Mono', monospace;
}

.debug {
  border: 1px solid red;
}

.wrapper {
  padding: 30px;
}

/* Navbar styles */
#navbar {
  display: none;
}

.logo {
  width: 5rem;
}

.nav-wrapper {
  height: 10vmax;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--font-color);
}

.nav-wrapper ul {
  list-style: none;
  display: flex;
  gap: 48px;
}

.nav-wrapper a {
  color: inherit;
  font-family: 'Roboto Mono', monospace;
  font-weight: bold;
  text-decoration: none;
}

.line {
  width: 50px;
  height: 8px;
  background-color: var(--font-color);
}

.line:not(:first-of-type) {
  margin-top: 6px;
}

/* Hero section */
h1 {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 30px;
}

.hand {
  font-size: 1.6rem;
}

.name {
  font-size: 36px;
  font-family: 'Roboto Mono', monospace;
  font-weight: bold;
}

.bold {
  font-weight: bold;
}

h1 + p {
  margin-top: 12px;
  line-height: var(--default-lineHeight);
}

/* image styles */

.imageContainer img {
  max-width: 100%;
  display: block;
  margin: 30px auto;
}

/* btn styles */

.btn-container a {
  display: inline-block;
  text-align: center;
  padding: 10px;

  color: #202124;
  background-color: #faf7ff;
  text-decoration: none;
  font-family: 'Roboto Mono', monospace;
  font-weight: bold;
}

.btn-container a:not(:first-of-type) {
  margin-left: 10px;
  background-color: var(--cta-color);
  color: var(--font-color);
}

/* About section styles */
.about {
  margin-top: 4.8rem;
}

h2 {
  font-family: 'Roboto Mono', monospace;

  font-weight: bold;
  font-size: 3.6rem;
  display: inline-block;
  padding: 5px 20px;
  border-bottom: 1px solid var(--font-color);
  margin-bottom: 30px;
}

.about p {
  line-height: var(--default-lineHeight);
}

.expand {
  color: var(--cta-color);
}

/* Skills section */

.skill-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skill-title {
  display: inline-block;
  margin: 22px auto;
  padding: 5px;
  background-color: var(--font-color);
  color: var(--alternate-textColor);
  font-weight: bold;
  text-transform: uppercase;
}

.skill-items {
  display: inline-block;
}

.skill-items img {
  display: inline-block;
  width: 50px;
  height: 50px;
}

/* project section styles */

.projects {
  margin-top: 4.8rem;
}

.project-tile {
  margin-bottom: 24px;
}

.project-tile img {
  width: min(100%, 760px);
  display: block;
  margin: auto;
}

.project-tile p {
  text-align: center;
}

.project-tile a {
  display: block;
  color: var(--font-color);
}

/* Contact section styles */
.img-container img {
  max-width: 300px;
  display: block;
  margin: auto;
}

.social-container img {
  vertical-align: middle;
}

.divider {
  position: relative;
  margin-top: 30px;
  background-color: var(--font-color);
  height: 2px;
}

.circle {
  position: absolute;
  border-radius: 50%;
  padding: 5px;
  background-color: var(--font-color);
  color: var(--alternate-textColor);
  top: -550%;
  left: 50%;
  transform: translateX(-50%);
  font-weight: bold;
}

/* contact form styles */
.form {
  margin-top: 14px;
}

label {
  display: block;
  width: 100px;
  padding: 5px;
  font-size: 1.4rem;
}

input[type='email'] {
  display: block;
  border: none;
  background: none;
  color: var(--font-color);
  border-bottom: 1px solid var(--font-color);
  outline: none;
  padding: 5px;
  flex-grow: 1;
}

.form-row {
  display: flex;
  justify-content: stretch;
  margin-top: 22px;
}

textarea {
  padding: 5px;
  color: var(--font-color);
  vertical-align: top;
  background: none;
  border: 1px solid var(--font-color);
  outline: none;
  flex-grow: 1;
  min-height: 150px;
}

input[type='submit'] {
  margin-top: 22px;
  padding: 10px;
  text-align: center;
  border: none;
  outline: none;
  background-color: var(--font-color);
  color: var(--alternate-textColor);
  width: 100%;
  font-weight: bold;
}

/* Footer styles */

footer {
  background-color: #202124;
  height: 12vmax;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Tablets */
@media (min-width: 800px) {
  /* navbar styles */

  #navbar {
    display: block;
  }

  .burgers {
    display: none;
  }

  .btn-container {
    width: fit-content;
    margin: auto;
  }
}

@media (max-width: 1150px) {
  .nav-wrapper {
    padding: 15px 30px;
  }
}

/* For desktops */
@media (min-width: 1150px) {
  .nav-wrapper {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
  }
}
